.logs .item{
    width: 100%;
    padding: 10px;
    display: flex;
    background-color: #e8ad0d;
    align-items: center;
    border-radius: 6px;
} 
.logs .item ~ .item{
    margin-top: 16px;
}
.logs .item .date-box{
    width: 100px;
    height:100px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
.logs .item .date-box .month{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: red;
    line-height: 36px;
}
.logs .item .date-box .date{
    font-size: 40px;
    color: #232323;
    text-align: center;
    line-height:64px ;
}
.logs .item .content-box{
    flex: 1 0 0;
    text-align: center;
    position: relative;
}
.logs .item .content-box .title{
    font-size: 24px;
    margin-bottom: 20px;
}
.logs .item .content-box .content{
    color: rgb(168, 41, 41);
    font-size: 20px;
}
.logs .item .content-box .del{
    position: absolute;
    right: 0;
    top: 0px;
    color: red;
    cursor: pointer;
}
.logs .item .content-box .del:hover{
    transform: scale(1.5);
}